node_modules
*.pack
.next/cache/webpack/server-development/9.pack
*.pack
*.pack
*.pack
.next/trace
.next/static/webpack/webpack.f76f9056d868f55a.hot-update.js
.next/static/webpack/webpack.f02d9d46fb6129b4.hot-update.js
.next/static/webpack/webpack.c8dd3e552fb6df74.hot-update.js
.next/static/webpack/webpack.b47531ee19de63ea.hot-update.js
.next/static/webpack/webpack.aa9c1c5e1243523e.hot-update.js
.next/static/webpack/webpack.35768866e6a50073.hot-update.js
.next/static/webpack/webpack.19b20363eb54f43c.hot-update.js
.next/static/webpack/webpack.19050bfa0fce68cb.hot-update.js
.next/static/webpack/webpack.1026255222208865.hot-update.js
.next/static/webpack/f76f9056d868f55a.webpack.hot-update.json
.next/static/webpack/f02d9d46fb6129b4.webpack.hot-update.json
.next/static/webpack/c8dd3e552fb6df74.webpack.hot-update.json
.next/static/webpack/b47531ee19de63ea.webpack.hot-update.json
.next/static/webpack/aa9c1c5e1243523e.webpack.hot-update.json
.next/static/webpack/35768866e6a50073.webpack.hot-update.json
.next/static/webpack/19b20363eb54f43c.webpack.hot-update.json
.next/static/webpack/19050bfa0fce68cb.webpack.hot-update.json
.next/static/development/_buildManifest.js
.next/static/chunks/webpack.js
.next/static/chunks/react-refresh.js
.next/static/chunks/polyfills.js
.next/static/chunks/pages/reserve.js
.next/static/chunks/pages/login.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/404.js
.next/static/chunks/main.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/amp.js
.next/static/chunks/_error.js
.next/server/webpack-runtime.js
.next/server/pages/reserve.js
.next/server/pages/login.js
.next/server/pages/index.js
.next/server/pages/_error.js
.next/server/pages/_document.js
.next/server/pages/_app.js
.next/server/pages/404.js
.next/server/pages-manifest.json
.next/server/middleware-manifest.json
.next/server/middleware-build-manifest.js
.next/server/_error.js
.next/fallback-build-manifest.json
.next/cache/webpack/server-development/index.pack.old
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/0.pack
.next/cache/images/7mO6qj3NPHsuw1JjPofHO+LIqIRW8LRirOU4TarjQ-M=/60.1671103004444.rhwM7DfE1yCqx8vwictMdO7+Bigo604OjxVEhzHHnQg=.webp
.next/cache/images/7mO6qj3NPHsuw1JjPofHO+LIqIRW8LRirOU4TarjQ-M=/60.1670865841407.rhwM7DfE1yCqx8vwictMdO7+Bigo604OjxVEhzHHnQg=.webp
.next/build-manifest.json
*.pack
*.pack
*.pack
.next
*.next
.next/*